# Tuplas

### Estrutura:

tupla = (valor, valor, valor, ...)

### Diferença

Parece uma lista, mas é imutável.

### Vantagens:

- Mais eficiente (em termos de performance)
- Protege a base de dados (por ser imutável)
- Muito usado para dados heterogêneos

### Criando tuplas

In [1]:
vendas = ('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')
print(vendas)

('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')

### Acessando o valor de uma tupla

In [7]:
nome = vendas[0]
data_contratacao = vendas[1]
data_nascimento = vendas[2]
salario = vendas[3]
cargo = vendas[4]

#a mesma coisa esta acessando acima porem sem indice
nome, data_contratacao, data_nascimento, salario, cargo = vendas
print(nome, data_contratacao)

print(f'O nome e {nome}, data contratação { data_contratacao}, data nascimento {data_nascimento} o seu salario é: {salario} e o seu cargo é: {cargo}')

Lira 25/08/2020
O nome e Lira, data contratação 25/08/2020, data nascimento 15/02/1994 o seu salario é: 2000 e o seu cargo é: Estagiário

- o enumerate que vínhamos usando até agora, na verdade, cria uma tupla para a gente. Vamos ver na prática:

In [16]:
vendas = [1000, 2000, 300, 300, 150]
funcionarios = ['João', 'Lira', 'Ana', 'Maria', 'Paula']

#pega o valor e transfoma em uma tupla
for i, venda in enumerate(vendas):
        #print(f'indice: {i}')
        #print(f'Venda {venda}')
        print('{} vendeu {} unidades'.format(funcionarios[i], venda))

João vendeu 1000 unidades
Lira vendeu 2000 unidades
Ana vendeu 300 unidades
Maria vendeu 300 unidades
Paula vendeu 150 unidades